.hero{
	padding: 30px 0 80px 0;
	margin: -30px 0 -80px 0;
	background: url(../images/hero-img.jpg) center 37% / cover no-repeat;
	position: relative;
	@media screen and (max-width:767px) {
		padding: 30px 0 0px 0;
	margin: -30px 0 0px 0;
	background:url(../images/hero-img.jpg) 32% 12%/160% no-repeat;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $--black;
		opacity: .65;;
	}
	&__container{
		z-index: 1;
		position: relative;
		padding: 260px 0 0 0px;
		@media screen and (max-width:767px) {
			padding: 270px 0 0 0;
		}
	}
	&__content{
		color: $--white;
		max-width: 1018px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		text-align: center;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 40px;
		@media screen and (max-width:767px) {
			margin-bottom: 186px;
		}
		& h1{
			@include titleH1;
		}
	& svg{
		max-width: 100%;
		width: 100%;
	}
	& p{
		@include p3;
		@media screen and (max-width:767px) {
			font-size: 16px;
		}
	}
	}
	&__form{
		background-color: $--yellow;
		max-width: 700px;
		width: 100%;
		border-radius: 30px;
		border: 1px solid $--silver-1;
		padding: 30px;
		margin: 0 auto;
		text-align: center;
		@media screen and (max-width:767px) {
			min-width: 100vw;
					margin-left: -20px;
		}
		& div:not([class]){
			@include titleH5;
			margin-bottom: 20px;
			& span{
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				
			}
		}
		& form{
			display: flex;
			flex-wrap: wrap;
			gap: 20px 10px;
			.input__wrap{
				width: calc((100% / 3) - 10px);
			text-align: left;
			font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				display: flex;
				flex-direction: column;
				gap: 5px;
			& label{
				margin-bottom: 5px;
			}
			& input{
				padding: 15px;
				border-radius: 10px;
				background: #FFF59E;
				color: $--black;
				border: none;
				outline: none;
				width: 100%;
				&::placeholder{
					color: #826B00;
				}
			
			}
				@media screen and (max-width:1023px) {
					width: 100%;
				}
			}
		&	input[type="submit"]{
				display: flex;
				padding: 13px 33px;
				align-items: center;
				justify-content: center;
				max-width: 100%;
				width: 100%;
				color: #333;
				background-color: $--white;
				border-radius: 10px;
				border: 1px solid $--black;
				-webkit-box-shadow: 5px 5px 0px 0px #000;
				-moz-box-shadow: 5px 5px 0px 0px #000;
				box-shadow: 5px 5px 0px 0px #000;
				transition: .3s linear;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				cursor: pointer;
				&:hover{
					-webkit-box-shadow: 0px 0px 0px 0px transparent;
				-moz-box-shadow:  0px 0px 0px 0px transparent;
					box-shadow:  0px 0px 0px transparent;
				}
			}
		}
	}
}